@font-face {
  src: url(../fonts/Nunito-Regular.ttf);
  font-family: Nunito-r;
}

@font-face {
  src: url(../fonts/Nunito-Light.ttf);
  font-family: Nunito-l;
}

@font-face {
  src: url(../fonts/SVN-Kimberley.ttf);
  font-family: kimberley;
}

@font-face {
  src: url(../fonts/Nunito-Bold.ttf);
  font-family: Nunito-b;
}

.cachtop > .container {
  background-color: #fff;
  margin-top: 60px;
  padding-top: 15px;
}

body {
  font-family: sans-serif;
}

.main-carousel {
  width: 100%;
}

.carousel-cell {
  margin-right: 10px;
}

/* cell number */
.carousel-nav .carousel-cell {
  height: 100px;
  width: 100px;
}

.carousel-cell img {
  width: 100%;
}

.carousel-cell {
  width: 100%;
}

.carousel-cell div img {
  width: 100% !important;
}

.carousel-nav .carousel-cell.is-nav-selected img {
  opacity: 1;
}

.carousel-nav .carousel-cell img {
  opacity: .7;
}

.carousel-cell.zoom {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.carousel-cell.zoom img:hover {
  opacity: 0;
}

.carousel-cell.zoom img {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.flickity-page-dots {
  bottom: 10px;
}

.flickity-page-dots .dot.is-selected {
  background: white;
  border: solid 1px #6d549d;
}

.flickity-page-dots .dot {
  background: rgba(255, 255, 255, 0.6);
  border: solid 1px transparent;
}

.thongtin {
  margin-top: 15px;
}

.thongtin .name {
  font-family: Nunito-b;
  text-transform: uppercase;
  font-size: 20px;
}

.thongtin .gia {
  color: #df0000;
  font-family: Nunito-b;
}

.thongtin .giam del {
  color: #333;
}

.thongtin .giam span {
  color: #131313;
}

.thongtin ul.sao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thongtin ul.sao li {
  margin-left: 5px;
}

.thongtin ul.sao li i {
  color: yellow;
  text-shadow: 0 1px 10px black;
}

.btn-primary:hover {
  background-color: #fff;
  border-color: #6d549d;
  color: #6d549d;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #6d549d;
  border-color: #6d549d;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(109, 84, 157, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(109, 84, 157, 0.5);
}

.btn-outline-primary:hover {
  background-color: #6d549d;
  border-color: #6d549d;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #6d549d;
  border-color: #6d549d;
}

.btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(109, 84, 157, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(109, 84, 157, 0.5);
}

.btn-outline-primary {
  border-color: #6d549d;
  color: #6d549d;
}

.nut ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nut ul li {
  margin-left: 15px;
}

.ten {
  font-size: 18px;
  font-family: Nunito-b;
}

.ten span {
  color: #6d549d;
  font-family: Nunito-r;
}

.uudai li {
  font-size: 18px;
  font-family: Nunito-r;
}

ul.size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul.size li {
  margin-right: 5px;
  margin-bottom: 5px;
}

ul.size li a {
  padding: 5px 8px;
  border: solid 1px #333;
  border-radius: 5px;
  display: block;
  color: #333;
  text-decoration: none;
}

ul.size li a.si {
  background: #333;
  color: #fff;
}

.khoinut {
  background-color: rgba(109, 84, 157, 0.5);
  margin-top: 20px;
}

.khoinut ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.khoinut ul li {
  margin-right: 15px;
}

.khoinut ul li a {
  padding: 10px 10px;
  border: solid 1px #6d549d;
  background-color: #fff;
  color: #6d549d;
  font-family: Nunito-r;
  font-size: 18px;
  text-decoration: none;
}

.khoinut ul li a.tt {
  background-color: #6d549d;
  color: #fff;
}

.khoind p {
  font-family: Nunito-r;
  text-indent: 25px;
}

th {
  font-family: Nunito-r;
}

td {
  font-family: Nunito-r;
}

.khoinoidung .khoind {
  display: none;
}

.khoinoidung .khoind:nth-child(1) {
  display: block;
}

.knd2 .ai {
  font-size: 20px;
  font-family: Nunito-b;
  color: #333;
}

.nhanxet ul li {
  padding: 15px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}

.nhanxet ul li .na_me {
  font-family: Nunito-b;
  color: #6d549d;
}

.nhanxet .khoisao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nhanxet .khoisao .stars {
  display: inline-block;
  position: relative;
}

.nhanxet .khoisao .stars:before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: rgba(51, 51, 51, 0.5);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  z-index: -1;
}

.star {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.star:before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: yellow;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-shadow: 0 1px 5px rgba(19, 19, 19, 0.5);
}

.kho {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .cachtop > .container {
    margin-top: 140px;
  }
  .bread p {
    font-family: Nunito-r;
    font-size: 18px;
    color: #333;
  }
  .bread p span {
    color: #6d549d;
  }
  .main-carousel {
    margin-bottom: 30px;
  }
  .flickity-page-dots .dot {
    background: rgba(109, 84, 157, 0.9);
  }
  .flickity-page-dots {
    bottom: -25px;
  }
  .thongtin {
    margin-top: 0px;
  }
  .knd2 h4 {
    font-size: 24px;
  }
}

@media screen and (min-width: 992px) {
  .tdmenh {
    background: #6d549d;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-family: Nunito-r;
    margin-bottom: 0px;
  }
  .menh li {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menh li img {
    width: 100%;
  }
  .menh hr {
    margin-bottom: 0px;
  }
  .cachtop > .container {
    margin-top: 80px;
  }
  .bread p {
    font-size: 22px;
  }
  .thongtin .name {
    font-size: 28px;
  }
}
