@font-face {
  src: url(../fonts/Nunito-Regular.ttf);
  font-family: Nunito-r;
}

@font-face {
  src: url(../fonts/Nunito-Light.ttf);
  font-family: Nunito-l;
}

@font-face {
  src: url(../fonts/SVN-Kimberley.ttf);
  font-family: kimberley;
}

@font-face {
  src: url(../fonts/Nunito-Bold.ttf);
  font-family: Nunito-b;
}

.cachtop .container {
  margin-top: 60px;
  background-color: #fff;
}

.gioithieu {
  color: #333;
}

.gioithieu h4 {
  font-family: kimberley;
}

.gioithieu p {
  font-family: Nunito-r;
  font-size: 20px;
}

.lietke {
  text-align: center;
}

.lietke h4 {
  font-family: kimberley;
}

.lietke p {
  font-family: Nunito-r;
}

.lietke ul {
  width: 90%;
  margin-left: 23px;
}

.lietke ul li {
  font-family: Nunito-r;
  text-align: left;
  font-size: 18px;
}

.lietke ul li i {
  color: #6d549d;
  margin-left: -23px;
}

.solieu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.solieu ul li {
  padding: 0 10px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solieu ul li i {
  font-size: 40px;
  color: #6d549d;
}

.solieu ul li div {
  text-align: center;
}

.solieu ul li div h3 {
  font-family: kimberley;
  color: #333;
}

.solieu ul li div p {
  font-family: Nunito-r;
}

.khoi .so {
  width: 150px;
  height: 120px;
  line-height: 90px;
  margin: auto;
  border: 8px solid #6d549d;
  border-radius: 6px;
  margin-bottom: 30px;
  font-family: kimberley;
  font-size: 70px;
  position: relative;
  z-index: 20;
}

.khoi .so:before, .khoi .so:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 5%;
  width: 35px;
  height: 35px;
  background-color: #6d549d;
  -webkit-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
  z-index: -1;
}

.khoi .so:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg) translate(-8px, calc(-50% - 8px));
          transform: rotate(45deg) translate(-8px, calc(-50% - 8px));
  -webkit-transform-origin: center;
          transform-origin: center;
}

.khoi h4 {
  font-family: kimberley;
}

.khoi p {
  font-family: Nunito-r;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .cachtop .container {
    margin-top: 140px;
  }
  .gioithieu h4 {
    font-size: 25px;
  }
  .gioithieu p {
    font-size: 20px;
  }
  .lietke h4 {
    font-size: 25px;
  }
  .lietke ul li i {
    font-size: 20px;
  }
  .solieu ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .solieu ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 33.33%;
  }
  .solieu ul li i {
    font-size: 50px;
    margin-right: 5px;
  }
  .solieu ul li div h3 {
    font-size: 32px;
  }
  .solieu ul li div p {
    font-size: 18px;
  }
  .khoi {
    margin-top: 20px;
  }
  .khoi h4 {
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) {
  .cachtop .container {
    margin-top: 80px;
  }
  .gioithieu h4 {
    font-size: 28px;
  }
  .solieu ul li i {
    font-size: 70px;
  }
  .solieu ul li div h3 {
    font-size: 40px;
  }
  .solieu ul li div p {
    font-size: 20px;
  }
  .khoi h4 {
    font-size: 30px;
  }
}
